<a href="https://colab.research.google.com/github/kalinkabel/Exercicios_Data_Science/blob/main/An%C3%A1lise_base_salarial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
arquivo = '/content/drive/MyDrive/Salaries.csv'
sal = pd.read_csv(arquivo, sep=',' ,header=0)

<ipython-input-3-50921cccb558>:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv(arquivo, sep=',' ,header=0)

In [4]:
type(sal)

pandas.core.frame.DataFrame

In [5]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [6]:
sal.head(100)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,MIVIC HIROSE,MANAGER VIII,215180.76,0.0,12000.0,NaN,227180.76,227180.76,2011,NaN,San Francisco,NaN
96,97,SARAH CARY,ANESTHETIST,208925.6,5539.3,12615.6,NaN,227080.50,227080.50,2011,NaN,San Francisco,NaN
97,98,KEVIN SMITH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.67,35402.71,22261.95,NaN,226357.33,226357.33,2011,NaN,San Francisco,NaN
98,99,GREGORY STANGLAND,FIRE FIGHTER PARAMEDIC,122404.98,86719.38,15315.61,NaN,224439.97,224439.97,2011,NaN,San Francisco,NaN
99,100,SONALI BOSE,DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG,224035.85,0.0,0.0,NaN,224035.85,224035.85,2011,NaN,San Francisco,NaN

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [8]:
mean = pd.to_numeric(sal["BasePay"],errors ='coerce').mean()
print(mean)

66325.4488404877

In [9]:
max = pd.to_numeric(sal["OvertimePay"],errors ='coerce').max()
print(max)

245131.88

In [10]:
sal.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000    0.0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

In [11]:
print(sal[sal['EmployeeName'] == 'Courtney T Mcelrath']['TotalPayBenefits'])

148458    197.03
Name: TotalPayBenefits, dtype: float64

In [12]:
max_beneficts =(sal[sal['TotalPayBenefits'] == pd.to_numeric(sal['TotalPayBenefits'],errors ='coerce').max()])['EmployeeName']
print(max_beneficts)

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [13]:
min_beneficts =(sal[sal['TotalPayBenefits'] == pd.to_numeric(sal['TotalPayBenefits'],errors ='coerce').min()])['EmployeeName']
print(min_beneficts)

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [14]:
sal['JobTitle'].nunique()

2159

In [15]:
sal['JobTitle'].value_counts()[:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [16]:
sal.loc[sal['JobTitle'].apply(str.lower).apply(lambda x:'chief' in x)].count()

Id                  627
EmployeeName        627
JobTitle            627
BasePay             624
OvertimePay         627
OtherPay            627
Benefits            423
TotalPay            627
TotalPayBenefits    627
Year                627
Notes                 0
Agency              627
Status              140
dtype: int64

In [17]:
media = pd.to_numeric(sal.loc[(sal['Year'] >= 2011) & (sal['Year'] < 2014)]['BasePay'], errors = 'coerce').mean()
print(media)

66242.58022897222

In [18]:
corr = sal[['JobTitle', 'TotalPayBenefits']]
corr['len'] = corr['JobTitle'].apply(len)
corr.drop('JobTitle', axis=1, inplace=True)
corr.corr()

<ipython-input-18-8115ff507354>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  corr['len'] = corr['JobTitle'].apply(len)
<ipython-input-18-8115ff507354>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  corr.drop('JobTitle', axis=1, inplace=True)

                  TotalPayBenefits       len
TotalPayBenefits          1.000000 -0.036878
len                      -0.036878  1.000000